<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<p>Welcome to natural lighting.</p>
		</div>
	</main>

	<footer>
		<% include partials/footer %>
	</footer>
	
</body>
</html>